/* Também reaproveita o estilo base */
@import url("ModalUsuarioAdm.css");

.modal-admin.modal-confirm p {
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 0.95rem;
}

.modal-admin.modal-confirm strong {
    font-weight: 600;
}
