/* Pode reutilizar as bases do ModalConfirmacaoAdm.css
   e focar aqui no estilo específico do modal de usuário */

.usuario-modal .form-label {
    font-weight: 600;
    font-size: 0.9rem;
}

.usuario-modal .form-control,
.usuario-modal .form-select {
    font-size: 0.9rem;
}
